.button, .buttonDanger, .grayButton, .buttonOutlined, .danger, .longButtonDanger, .longButton, .buttonOutlinedLongDanger, .small, .buttonDisabled, .loadingButton, .textButton, .textButtonBg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button p, .buttonDanger p, .grayButton p, .buttonOutlined p, .danger p, .longButtonDanger p, .longButton p, .buttonOutlinedLongDanger p, .small p, .buttonDisabled p, .loadingButton p, .textButton p, .textButtonBg p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.button, .buttonDanger, .grayButton, .buttonOutlined, .danger, .longButtonDanger, .longButton, .buttonOutlinedLongDanger, .small {
  background-color: #005bff;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0 32px;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #005bff;
}

@media (min-width: 640px) {
  .button, .buttonDanger, .grayButton, .buttonOutlined, .danger, .longButtonDanger, .longButton, .buttonOutlinedLongDanger, .small {
    width: 180px;
  }
}

@media (min-width: 1008px) {
  .button:hover, .buttonDanger:hover, .grayButton:hover, .buttonOutlined:hover, .danger:hover, .longButtonDanger:hover, .longButton:hover, .buttonOutlinedLongDanger:hover, .small:hover {
    background-color: #0049cc;
  }
}

.button:active, .buttonDanger:active, .grayButton:active, .buttonOutlined:active, .danger:active, .longButtonDanger:active, .longButton:active, .buttonOutlinedLongDanger:active, .small:active {
  background-color: #337cff;
}

.buttonDisabled {
  background-color: #e6e6e6;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4d4d4d;
  padding: 0 32px;
  border-radius: 30px;
  width: 100%;
  cursor: not-allowed;
}

@media (min-width: 640px) {
  .buttonDisabled {
    width: 180px;
  }
}

.buttonDanger {
  background-color: #ff3152;
  border: 1px solid #ff3152;
}

@media (min-width: 1008px) {
  .buttonDanger:hover {
    background-color: #fd0029;
  }
}

.buttonDanger:active {
  background-color: #ff647d;
}

.grayButton {
  background-color: #f1f1f1;
  color: #005bff;
  border: none;
}

@media (min-width: 1008px) {
  .grayButton:hover {
    background-color: #d8d8d8;
  }
}

.grayButton:active {
  background-color: #a5a5a5;
}

.loadingButton {
  cursor: no-drop;
  background-color: #003799;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0 32px;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #003799;
}

@media (min-width: 640px) {
  .loadingButton {
    width: 180px;
  }
}

.buttonOutlined {
  background-color: transparent;
  color: #005bff;
}

@media (min-width: 1008px) {
  .buttonOutlined:hover {
    background-color: #005bff;
    color: white;
  }
}

.buttonOutlined:active {
  background-color: #337cff;
}

.danger, .longButtonDanger {
  background-color: #ff3152;
  border: 1px solid #ff3152;
}

@media (min-width: 1008px) {
  .danger:hover, .longButtonDanger:hover {
    background-color: #ca0020;
  }
}

.danger:active, .longButtonDanger:active {
  background-color: #ff647d;
}

.danger, .longButton, .longButtonDanger, .buttonOutlinedLongDanger {
  width: 225px;
}

.textButton {
  color: dodgerblue;
}

.textButtonBg {
  color: dodgerblue;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 4px 16px;
  border-radius: 4px;
  margin: 2px;
}

.textButtonBg p {
  font-size: 14px;
}

@media (min-width: 1008px) {
  .textButtonBg:hover {
    background-color: rgba(0, 0, 0, 0.125);
  }
}

.textButtonBg:active {
  background-color: rgba(0, 0, 0, 0.025);
}

.tags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 26px;
  border: 1px solid #ff3152;
  padding: 0 16px;
  border-radius: 30px;
}

.tags p {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ff3152;
}

.buttonOutlinedLongDanger {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
}

@media (min-width: 1008px) {
  .buttonOutlinedLongDanger:hover {
    background-color: crimson;
    color: white;
  }
}

.buttonOutlinedLongDanger:active {
  background-color: #ed365b;
}

.small {
  height: 32px;
  max-width: 100px;
}

.small p {
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 500;
}
/*# sourceMappingURL=Button.module.css.map */