.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.centerHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.centervertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pageInnerLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 10rem;
  max-width: 100vw;
}

@media (min-width: 1008px) {
  .pageInnerLayout {
    padding: 2rem 7.5rem;
  }
}

.pageInnerLayout li {
  margin-bottom: 0.5rem;
}

.pageInnerLayout h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pageInnerLayout h4 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.pageInnerLayout h5 {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.pageInnerLayout h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pageInnerLayout p {
  margin-bottom: 1rem;
}

.pageInnerLayout a {
  color: #ff3152;
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin: 4rem 1.5rem;
}

@media (min-width: 1008px) {
  .pageContainer {
    margin: 4rem;
  }
}

.rowItems {
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.rowItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.rowItem p {
  font-size: 14px;
}

.rowTag {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background-color: teal;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
}

.rowTag p {
  font-size: 10px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.faq {
  margin-bottom: 4rem;
}

.faq h3 {
  margin-bottom: -1rem;
}

.faq h6 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.faq p {
  margin-bottom: 0.75rem;
}
/*# sourceMappingURL=Container.module.css.map */