@import '../../styles/imports';

.hero {
	background-image: url('../../public/hero.png');
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-position: bottom;
	background-size: cover;
	height: 70vh;
	.heroContentContainer {
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: center;
		@include tab {
			padding: 1rem 4rem;
			margin-top: 0;
		}
	}
	.heroImageContainer {
		display: none;

		padding: 0;
		@include desktop {
			display: block;
		}
		flex: 1;
		img {
			margin-top: 1rem;
			width: 250px;
			height: 500px;
			flex: 1;
			object-fit: contain;
		}
	}

	.heroHeaders {
		display: flex;
		flex: 1;
		text-align: center;
		@include tab {
			text-align: left;
		}
		@include desktop {
			max-width: 50vw;
		}
		flex-direction: column;
		color: white;
		justify-content: center;
	}
}
