.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 640px) {
  .caption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.caption p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .caption p {
    text-align: left;
  }
}

.caption a {
  color: #483D8B;
  cursor: pointer;
}

.caption a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.subHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.subHeading p {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  color: gray;
}

.blueText {
  color: #483D8B;
  font-size: 0.9rem;
}

.textCaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (min-width: 640px) {
  .textCaption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.textCaption p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .textCaption p {
    text-align: left;
  }
}

.textCaption a {
  color: #483D8B;
  cursor: pointer;
}

.textCaption a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.errorText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  background-color: rgba(255, 49, 82, 0.1);
  border-radius: 4px;
  color: #ff3152;
  width: 100%;
  margin: 1rem 0;
}

.errorText p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .errorText p {
    text-align: left;
  }
}

.successText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  background-color: rgba(0, 128, 128, 0.1);
  border-radius: 4px;
  color: teal;
  width: 100%;
  margin: 1rem 0;
}

.successText p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .successText p {
    text-align: left;
  }
}

.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 0;
  text-transform: capitalize;
}

.date {
  color: gray;
}

.date p {
  font-size: 12px;
  line-height: 1.25rem;
}
/*# sourceMappingURL=Text.module.css.map */