//@at-root

$color-primary: #005bff;
$color-border: rgba(#005bff, 0.1);
$background-color: #f7f7f7;
$color-danger: #ff3152;
$shadow-primary: 0 22px 40px rgba(#005bff, 0.12);
$color-success: #00ff99;
$color-black: black;
$container-radius: 10px;

@import './utilities/mixin';
@import './utilities/partials';
